<li>
    {{id}}. 

	{{burger_name}};

	<button class="change-devoured btn btn-sm btn-light" data-id="{{id}}" data-burger_name= "{{burger_name}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}YUMMY!{{else}}DEVOUR!{{/if}}
	</button>

</li>
